<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="D:/Logs/" />
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%date %level [%thread] %logger %msg%n</Pattern>
		</encoder>
	</appender> 
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logger.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${LOG_HOME}/apitracker-%d.%i.log.gz
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>%date %level [%thread] %logger %msg%n</Pattern>
		</encoder>
	</appender>

	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING" />
	</root>
</configuration>